.footer {
  position: relative;
  background-color: $color-grey-darker;
  height: 60rem;
  width: 100%;
  padding-top: 12.5rem;

  &__icon-wrapper {
    position: absolute;
    top: 6rem;
    right: 6rem;
  }

  &__icon {
    color: $color-grey-dark;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 12.5rem 0 0 15rem;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  &__link {

    &,
    &:link,
    &:active,
    &:visited {
      text-decoration: none;
      border-bottom: .1rem solid $color-grey-dark;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
      color: $color-grey-dark;
      transition: all .2s ease-out;
    }

    &:hover {
      color: $color-white;
      border-color: $color-white;
    }
  }

  &__text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: $color-grey-dark;
    margin-bottom: 0.2rem;
  }

  &__mail {
    text-decoration: none;
    border-bottom: .1rem solid $color-grey-dark;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: $color-grey-dark;
    transition: all .2s ease-out;

    &:hover {
      color: $color-white;
      border-color: $color-white;
    }
  }
}