.section-info {

  &__text-box-wrapper {
    display: flex;
    justify-content: space-between;
    width: 143rem;
    margin: 0 auto;

    .section-info__text-box {

      &:not(:last-child) {
        margin-right: 6rem;
      }

      .section-info__text {
        color: $color-grey-dark;
      }
    }
  }
}

.section-imgs {
  position: relative;
  background-color: $color-grey-light;
  
  &__card-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 6rem;
  }

  &__card {
    width: 33.333333%;
    height: 75rem;
    margin-top: 6rem;
    background-color: $color-white;

    &:not(:last-child) {
      margin-right: 4rem;
    }
  }

  &__img {
    height: 45rem;
    width: 100%;
  }

  &__text {
    margin-left: 1.5rem;
  }

  &__figcap {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    text-transform: uppercase;
  }

  &__big-img-wrapper {
    position: relative;
    top: 0;
    left: 0;
    height: 70vh;
  }

  &__big-img {
    object-position: center;
    object-fit: cover;
    height: 70vh;
    width: 100%;
  }

  
}